<div class="form-center">
    <h3>Create New Category</h3>
    <form [formGroup]="categoryForm" (ngSubmit)="submit()"> 
        <div class="mb-3">
            <input type="text" formControlName="name" id="name" placeholder="Name" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }" required  />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors?.['required']">
                  Name is required.
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" formControlName="alias" id="alias" placeholder="Alias" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['alias'].errors }"  />
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                <div *ngIf="f['name'].errors?.['required']">
                  Alias is required.
                </div>
            </div>
        </div>
        <div class="form-check mb-3">
            <label class="form-check-label" for="flexCheckDefault">
                Enabled
            </label>
            <input class="form-check-input" type="checkbox" formControlName="enabled" id="flexCheckDefault" />
        </div>
        <div class="mb-3">
            <ng-select
                [items]="categoriesSelect"
                bindLabel="name"
                bindValue="id"
                placeholder="Select Parent"
                appendTo="body"
                [multiple]="false"
                formControlName="parent"
                [ngClass]="{ 'is-invalid' : submitted && f['parent'].errors }"
                required>
            </ng-select>
            <div
              *ngIf="submitted && f['parent'].errors"
              class="invalid-feedback">
              <div *ngIf="f['parent'].errors['required']">
                Parent category is required
              </div>
            </div>
        </div>
        <div class="mb-3">
            <!-- Select File -->
            <input type="file" accept="image/*" (change)="showPreview($event)" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['image'].errors }" required />
    
            <div
              *ngIf="submitted && f['image'].errors"
              class="invalid-feedback">
              <div *ngIf="f['image'].errors['required']">
                Image is required
              </div>
            </div>
            <!-- Image Preview -->
            <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                <img [src]="imageURL" alt="Image Preview">
            </div>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
    </div>
    
    