<div class="container-fluid">
    <div class="head">
        <h2>Manage Categories</h2>
        <div class="pt-2">
            <a (click)="createCategory()"><fa-icon [icon]="faUserPlus" size="2x" class="mx-2 link-primary"></fa-icon></a>
            <a ><fa-icon [icon]="faFileCsv" size="2x" class="mx-2 link-primary"></fa-icon></a>
            <a ><fa-icon [icon]="faFileExcel" size="2x" class="mx-2 link-primary"></fa-icon></a>
            <a ><fa-icon [icon]="faFilePdf" size="2x" class="mx-2 link-primary"></fa-icon></a>
        </div>
        <div>
            <form (ngSubmit)="getPageList()">
                <table class="table borderless">
                    <thead>
                        <tr class="d-flex">
                            <th class="col-3">Search By Name</th>
                            <th class="col-1"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-flex">
                            <td class="col-3">
                                <input type="text" class="form-control" id="inputSearchName" placeholder="Search By Name" 
                                    [(ngModel)]="this.nameSearch" name="nameSearch">
                            </td>
                            <td class="col-1">
                                <button type="submit" class="btn btn-primary mb-2">Search</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="content mt-3">
        <table id="productSizes" class="table table-bordered">
            <thead>
                <tr class="d-flex">
                    <th class="col-1" (click)="sortPage('id')" style="cursor: pointer;">
                        Id&nbsp;
                        <span *ngIf="this.sortDir === 'asc' && this.isTargetSortField('id')">
                            <fa-icon [icon]="this.faArrowUp"></fa-icon>
                        </span>
                        <span *ngIf="this.sortDir === 'desc' && this.isTargetSortField('id')">
                            <fa-icon [icon]="this.faArrowDown"></fa-icon>
                        </span>
                    </th>
                    <th class="col-2">Images</th>
                    <th class="col-3" (click)="sortPage('name')" style="cursor: pointer;">
                        Name&nbsp;
                        <span *ngIf="this.sortDir === 'asc' && this.isTargetSortField('name')">
                            <fa-icon [icon]="this.faArrowUp"></fa-icon>
                        </span>
                        <span *ngIf="this.sortDir === 'desc' && this.isTargetSortField('name')">
                            <fa-icon [icon]="this.faArrowDown"></fa-icon>
                        </span>
                    </th>
                    <th class="col-3" (click)="sortPage('alias')" style="cursor: pointer;">
                        Alias&nbsp;
                    </th>
                    <th class="col-1">Enabled</th>
                    <th class="col-2">Actions</th>
                </tr>
            </thead>
            <tbody *ngFor="let category of categoriesList">
                <tr class="d-flex">
                    <td class="col-1">{{category.id}}</td>
                    <td class="col-2"><img class="image-scale" src="category-images/{{category.id}}/{{category.image}}" alt="Category image" /></td>
                    <td class="col-3">{{category.name}}</td>
                    <td class="col-3">{{category.alias}}</td>
                    <td class="col-1">{{category.enabled}}</td>
                    <td class="col-2">
                        <a (click)="edit(category.id)"><fa-icon [icon]="faEdit" size="2x" class="mx-2 link-primary"></fa-icon></a>
                        <a *ngIf="category.hasChildren === false" (click)="delete(category.id)"><fa-icon [icon]="faTrash" size="2x" class="mx-2 link-danger"></fa-icon></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination
            [collectionSize]="totalElements"
            [(page)]="pageNum"
            [pageSize]="pageSize"
            (pageChange)="getPageList()"
        >
        </ngb-pagination>
    
        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getPageList()">
            <option [ngValue]="2">2 root items per page</option>
            <option [ngValue]="3">3 root items per page</option>
            <option [ngValue]="4">4 root items per page</option>
            <option [ngValue]="5">5 root items per page</option>
        </select>
    </div>
</div>